@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Utils classes */
.absolute-grid {
  display: grid;
}

.absolute-grid > * {
  grid-column: 1;
  grid-row: 1;
}

.triangle-clip-path {
  clip-path: polygon(100% -1%, 0 -1%, 0 100%);
}

@media screen and (min-width: 768px) {
  .card--item:hover .card--item__actions {
    display: flex;
  }
}

input {
  field-sizing: content;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

@media screen and (min-width: 992px) {
  .cards-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 1rem;
  }
}